* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: grid;
  grid-template-rows: 2, 1fr;
  grid-template-columns: 1, 1fr;
  padding: 10px;
}
.top-header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 100%; */
}
.header-logo {
  width: 40%;
  padding: 10px;
}
.header-contacts {
  width: 40%;
  text-align: right;
  padding: 10px;
  font-size: 20px;
}
.nav-bar {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 10px;
  justify-content: right;
  background-color: brown;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
}
.nav-bar ul li {
  list-style: none;
}
.nav-bar ul li a {
  text-decoration: none;
  color: white;
}
.upper-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
.three-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
  margin: 10px;
  gap: 5px;
  /* width: 100%; */
}
/* left box */
.left-box{
    width: 30%;
}
.left-content {
  display: flex;
  flex-direction: row;
}
.left {
  width: 50%;
  font-size: 20px;
}
.right img {
  padding: 10px;
}
/* center box */
.center{
    width: 30%;
}
.up {
  display: flex;
  flex-direction: row;
}
.up-left {
  /* width: 50%; */
  font-size: 15px;
}

.down {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
/* right box */
.left-box{
    width: 30%;
}

.left-up {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.left-down {
  /* padding: 10px; */
  text-align: left;
  text-align: justify;
  font-size: 15px;
  width: 50%;
}
button {
  margin-top: 20px;
  padding: 10px;
  /* width: 50%; */
}
.container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  padding-top: 20px;
  margin: 10px;
  gap: 5px;
  justify-content: space-around;
}
.aside-left {
  width: 20%;

}
/* .aside-left ul li {
  list-style: none;
  padding-top: 30px;
   width: 100%;
}
.aside-left ul li a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
   
} */
.aside-buttons{
    width: 100%;
}
.aside-left h2{
    padding-top: 20px;
}
.content {
  width: 40%;
  text-align: justify;
}
.aside-right {
  width: 20%;
}
.aside-logo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px; 
}
.aside-icons h2{
    padding: 10px;


}
.icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    /* justify-content: space-evenly; */
}

@media (max-width: 1023px) {
  .top-header {
    display: flex;
    flex-direction: column;
  }
  .header-logo{
    width: auto;
  }
  /* .nav-bar{
    width: 100%;
  } */

  .upper-section {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }
  .left-side img{
    width:100%;
    height: auto;
  }
  .right-side img{
    width: 100%;
    height: auto;
  }
  .three-boxes {
    flex-direction: column;
    width: 100%;
  }
  /* .left{
    height: 100%;
    width: ;
  } */
  .container{
    display: flex;
    flex-direction: column;
  }
  .aside-left{
    width: 100%;
}
.content{
    width: 100%;
    height: auto; 
}

}
