body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
    border-bottom: 4px solid #8b0000;
}

.navbar {
    background: #8b0000;
}

.navbar ul {
    margin: 0;
    padding: 10px;
    display: flex;
    list-style: none;
    justify-content: center;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background: #b30000;
}

.hero {
    display: flex;
    padding: 20px;
    background: white;
    gap: 20px;
}

.hero-left, .hero-right {
    width: 50%;
    background: #fff;
    /* padding: 5px; */
    border: 1px solid #ddd;
}
.hero-right{
    background-image: url(assects/images/form_bg.jpg);
    padding: 20px;
}
.hero-right h2{
    background-color: #8b0000;
    color: white;
    width: 23%;
}

.hero-right form input,
.hero-right form textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    
}
.hero-right form textarea{
    width: 80%;
}

.hero button {
    padding: 5px 30px;
    background: #8b0000;
    color: white;
    border: none;
    font-size: 20px;
}
.hero-bottom{
    display: flex;
    justify-content: space-between;
}

.three-boxes {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.three-boxes .box {
    padding: 20px;
    background: white;
    text-align: left;
    border: 1px solid #ddd;
}
.box-left{
    padding: 10px;
    display: flex;
}
.box-left p{
    text-align: left justify;
    font-size: 20px;
    width: 50%;
}
.right{
    width: 50%;
}
.box-center{
    padding: 10px;
}
.up{
    display: flex; 
    justify-content:space-between ;
    padding: 5px;
    border-bottom: 1px solid black;
}
.down{
    display: flex;
    justify-content:space-between ;
    padding: 5px;
}
.right-top{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.right-bottom{
    width: 50%;
}
.content-section {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.sidebar-left, .sidebar-right {
    width: 20%;
}

.sidebar-left ul {
    list-style: none;
    padding: 0;
}

.sidebar-left li {
    background: #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.side-logo img{
    padding: 15px;

}
.social-icons img{
    padding:10px; ;  
}

.main-content {
    width: 60%;
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
}

.side-box {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.footer {
    background: #8b0000;
    padding: 2px;
    text-align: center;
    color: white;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
}

h1, h2, h3, p {
    margin: 0;
}
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    border-bottom: 4px solid #8b0000;
}
.navbar {
    background: #8b0000;
}

.navbar ul {
    margin: 0;
    padding: 10px;
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background: #b30000;
}
.hero {
    display: flex;
    /* padding: 20px; */
    background: white;
    gap: 20px;
}

.hero-left,
.hero-right {
    width: 50%;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
}

.hero-right form input,
.hero-right form textarea {
    width:80%;
    padding: 10px;
    margin-bottom: 10px;
}

.hero button {
    padding: 10px 20px;
    background: #8b0000;
    color: white;
    border: none;
    cursor: pointer;
}
.three-boxes {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.three-boxes .box {
    flex: 1;
    padding: 20px;
    background: white;
    text-align: center;
    border: 1px solid #ddd;
}
.content-section {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.sidebar-left,
.sidebar-right {
    width: 20%;
}

.main-content {
    width: 60%;
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
}

.sidebar-left ul {
    list-style: none;
    padding: 0;
}

.sidebar-left li {
    background: #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.footer {
    background: #8b0000;
    padding: 20px;
    text-align: center;
    color: white;
}
@media (max-width: 786px) {

    .navbar a {
        padding: 10px;
        font-size: 14px;
    }

    .top-header h1 {
        font-size: 22px;
    }

    .hero-left h2 {
        font-size: 20px;
    }

    .three-boxes .box {
        padding: 15px;
    }

    .main-content {
        padding: 5px;
    }
}
@media (max-width: 480px) {
    .top-header{
        display: flex;
        flex-direction: column;
    }
    .logo-section img{
        width: 100%;
        padding: 0;
    }

    .navbar ul {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .navbar a {
        width: 100%;
        text-align: center;
        padding: 12px;
    }

    .top-header h1 {
        font-size: 20px;
    }

    .hero-left,
    .hero-right {           
        width: 100%;
    }

    .hero-right form input,
    .hero-right form textarea {
        padding: 8px;
    }

    .hero button {
       
        width: 100%;
        padding: 12px;
    }

    .three-boxes{
         display: flex;
        flex-direction: column;
        padding: 10px;
        
    }
    .left p{
        font-size: 20px;
        text-align: justify;
        width: 50%;
    }
    .right-bottom{
        width: 100%;
    }
    .content-section{
        display: flex;
        flex-direction: column;
    }
    .sidebar-left{
        width: 100%;
        height: auto;
    }
    .main-content{
        width: auto;
        height: auto;
        text-align: justify;
    }
    .side-logo{
        display: flex;
        align-items: center;
    }
    .social-icons{
        text-align: center;
    }

    /* .sidebar-left li {
        padding: 8px;
        height: auto;
        width: auto;
    }
    .sidebar-left h2 p{
        font-size: 10px;
    } */
    .sidebar-right{
        font-size: 10px;
        width: 100%;
    }

    .footer {
        font-size: 14px;
    }
}